<div class="question-container">
  @if (correctPersona == null) {
    <div class="question-box">
      <h2>{{ currentQuestion }}</h2>
    </div>
    
    <div class="button-container">
        <button class="btn" (click)="answerQuestion(true)">Sim</button>
        <button class="btn" (click)="answerQuestion(false)">Não</button>
      </div>
    }@else {
      <app-persona [imageUrl]="correctPersona.imgUrl" [name]="correctPersona.name"></app-persona>
      <button class="btn" (click)="restartGame()">Reiniciar</button>
    }
  </div>
  