<div class="container">
    <h1>Base de dados</h1>
  
    <!-- Botão para criar nova pessoa -->
    <!--<a [routerLink]="['/create']" routerLinkActive="router-link-active" class="btn create-btn">Criar Nova Pessoa</a>-->
  
    <!-- Seção de Leitura -->
    <div class="read-section">
      <h2>Lista de Pessoas</h2>
      <ul class="people-list">
        <li class="person-item">
          <img src="assets/persona.jpg" alt="Nome da Pessoa" class="person-image" />
          <span class="person-name">Nome da Pessoa</span>
        </li>
        <!-- Adicione mais itens conforme necessário -->
      </ul>
    </div>
  </div>
  